/* Primary colours definition */
:root {
    --dark: #0B0D17;
    --light-violet: #D0D6F9;
    --white: #FFFFFF;
}

body {
    display: flex;
}

.home-background-div {
    background: url("../assets/home/background-home-desktop.jpg") no-repeat;
    background-color: --dark;
    background-size: cover;
    background-attachment: fixed;
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 274px;
    height: 274px;
    border-radius: 50%;
    cursor: pointer;

}

.main-button-hover {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: 100px;
}

.main-button-hover:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

.main-button h4 {
    color: var(--dark);
}

.home-content {
    width: 500px;
    margin-top: 40vh;
    margin-left: 10vw;
}

